body {
    font-family: 'NanumSquare';
    /* font-family: 'NanumSquareLight';
    font-family: 'NanumSquareBold';
    font-family: 'NanumSquareExtraBold';
    font-family: 'NanumSquareAcb';
    font-family: 'NanumSquareAceb';
    font-family: 'NanumSquareAcl';
    font-family: 'NanumSquareAcr'; */
    font-size: 16px;
    margin: 0;
    line-height: 24px;
}

header {
    background-color: #cc5c2b;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 24px;
}

header img {
    border-radius: 8px;
    border: 12px solid #fff; 
}

header h1 {
    font-size: 48px;
    font-family: 'NanumSquareBold';
    color: #fff;
}

main h2 {
    font-size: 36px;
    font-family: "Jersey 10", sans-serif;
    color: #000;
    margin: 40px 0 12px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
}

main img{
    max-width: 100%;
    border-radius: 12px;
}

a {
    text-decoration-line: none;
    color: #000;
}

a:hover {
    color: #000;
    background-color: #db571e;
}
