body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 24px;
}

header {
    background-color: #f4b0c6;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 24px;
}

header img {
    border-radius: 999px;
    border: 16px solid #fff; 
}

header h1 {
    font-size: 48px;
    font-family: "Jersey 10", sans-serif;
    color: #763a4d;
}

main h2 {
    font-size: 36px;
    font-family: "Jersey 10", sans-serif;
    color: #000;
    margin: 40px 0 12px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
}

main img{
    max-width: 100%;
}

a {
    color: #763a4d;
}

a:hover {
    color: #fff;
    background-color: #f4b0c6;
}

footer {
    background-color: #f4b0c6;
    text-align: center;
    color: #fff;
    padding: 48px;
}

footer a{
    color: #946c79;
}

footer p{
    margin: 0px;
}

footer a:hover {
    opacity: 0.5;
    color: plum;
    background-color: #763a4d;
}
