@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Pretendard", serif;
}

body {
    overflow: hidden;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.fp-section{
    position: relative;
    box-sizing: border-box;
}

.fp-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.fp-tableCell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 96rem;
    height: 100%;
    position: relative;
}

.content1 img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.content2 img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.content3 img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.content4 img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.scroll-top {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.8) url(https://lh3.googleusercontent.com/fife/AAbDypCM6XNJmcXm3M-WX5Ykrcx9P1Bch2BuJ9SSSSELAWGULXbMC4neqWqYHsXDFGHQlzvza1_9CzwxX9XnEOSnxl1j0kEKZn2sqKJ2njGHFC7e45WymcULGY1MyBE_NusnUY3PMiidbfAfHAXyXD_zARmyuKyKnEjd7AG1SXpoHfZ86Y-pQaS78FVArMXGIcQLrYuqY6q1RUGXzBaE6NQ5b--MMh9TrEUqi0_3LECtUm2xrZH5ad-HjYxP-VlTamQbSAze0OJZCAi69qW9NpktoDUN8BrVSD87jObDOPRCfeEGW5Q8LyOOVoUJio9g5oWDKkYGyApIyH2RjCx5TRmHOPZcYjypScYz8r_EV7JcIKIETT2YpdEyN1uO2ssA73aoi237gZ0XIRP5jmB8_r7jkej-BkiLkfbSBnSFPOTjvSmdDhpWGqUbqp7FVBSqmdHHnqXrN6Z-to6AXn9sukrJAo_tTIuPyYzo_LcmM99_z5hgMsLQFCFdjBTxxNH2PjQMtvVyFDr_8SCwXJFe8gpdY6XCT3ESGjM96GfocZKnkv8qIEq_PQVXowy_5IzCqWQcIceerop9MFfhL8X2GuWgG_rTmdxIqnqgg6gj9jnetyTYUrWVqc1W_1HHvDQf-4i1fA6h-K9g4ljGJDp0IAcijDS8ajp5pjLGrZ-0NRV4gPOOvZWvYFLnfRqP337jlzCBuh_HpDDtA3odqX6aMaDZCB2gl7upWD9Sv851KL8dLHKE8yrGSLD541E6zKUX2TuKbOaoiP_Nj2kDBuhcGQ85SdUsIVDgbuPh3VxVAUg0XK_Nl5QEpShDMwAVI1lF8VOQdX7DVxbF63b3oP7AbXeCpPsOk1tADB5HrZI2rN42Qg6OE2sPbtn8R6mBijUaJwSyyC43M1dhq0sDIKOcXTh0Jp-MEZIIPeNHoPkRS21RnZyI0Dz6g74Xwq_5Zt9UIKoesi0ko73xrGbuauhV7gxhZPoUm86E5E5v47_O189L2AsYceGyhoE9DcMcsrnjnOB6qmhasuyuQbYRsEHVGssgouR5C8e_jmJT5-acRkoLwUHTuzmNAIKl4RNluhHpfOTGRvARIGQv1k8TGXL3EqYnxu-WeGhP5V9tOlYpX9vgZ0Es0bICiZgrIgmNfa9KBjD7quZdlzyZQLuKmCgNi2CyLhe1taa_IoOcoNDcwIxpD9MkRcLvj_xCyGZlGYLZOO8oHXmWmzvKf4vD8croCaAPiT3--cju_A5Et6NI_hT0DHUIJP5gl5ySTXZE3yl3hWMrlm3Ehw8YjjkdBkWqOm6_L5BQ2mRt3P3JLvOoRq2Fu_Vm03ZgmFt9elZR81_xyvbx9aGgq1X_lGwN-yl9Bc0zEXVqx0v01JfrxkqNS8E4hK70mnuUmZK2m8mKnOSQteuL39F-puaRqqtlSyfEnsjfRiF8hKO-zhh8Ge6-nwmT1NPK7fhKNf0zN6gasnKDWaxxnd3wJDjpnCxwhsSLWfQ=w1920-h969) center center no-repeat;
    background-size: 1.25rem 1.5rem;
    z-index: 9999;
    cursor: pointer;
}
