@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: "Pretendard", serif;
}

body {
    background-image: url("https://lh3.googleusercontent.com/fife/AAbDypAhiB_w2IfuWqqCzYMxWJZwu5fS-lie4SLNqBuK9DnDHGX9d3msNDXzxaJfphnAWQplBSl24CSXoIRq_osZYrR_awydOZ5zz6p4q_rJPANpaMd84a9GqdNdmBpo1hy-YDv81zxsopQJcFYGQHc2WxPiDD-bcWNJ0aLTXELVZGkb8sC67fxMYhSXu77P1oN9oVI78IpCAOFHyAnbSDnBONbGj4qXGfD4WAW6v49401KTht1taC1VlS2B59yXwyAMks6aM4iETt8sVwHQRW2bIlmnX0crJFbl7plk1yyl7vN-J9vClboJP0aNw7fQaFXr2AqZMhXWow_ijFix7pLQtSJbuIh949qOJ5YhuwQz7nJTFhSJV5oSXj-aAQ22ZWDvbKmNDAnggzkrWLqUugsKbWjY9EjqT3TD-vSDZzknFwh9JPii3NRLBcAxApccPatAnnjxovQJbHch7kRlAgBeijwvY5N80y0HjUm06hdTbEhVnh4f2bjsC8WXgUtkbq7RH9Kvhl65U5zRsl7UOxV6BvLJ2F8F3PIoszGZKZLQO0euon4qscyLGdHy8jNXgD_OE7xvhFGYiauroe_62qhwQ_DDBbMMAw2G-9TkCUH68T6B_I1eRM0Jg1qHC-NXEUgi7O2N1-IgX5rUN6bWrKwP8-ndw-vRcZuZDZPGnj4dRTdvWt3mTZWp2B2MMHofCeteGuhqw_nrFgG2hnjOhf2QWF-PtdTFVEzh5GUyb2ITwv9Gq8Qeh7e8Zit5O1XHm8zCSLz0AzW6FRX7Es511NMrTsUnrhszyWUbT5oUZ778N_y6lYH61zU5Un8pFf2VhDBLtH9_jUJf5ihvaHgtOv4qawikz97XbKG5eChtymmiZqbQn9zlCx1TtNL_a1FGltc3ukGZJ7vIP5IYXxhTBdexUDwn4OIGZEEZ9VPgEcnKUFZT8bv-hWljQ5UvqPZwsW5PhmFOxddIYjstSJQy-xlV_-eoCkeUo_5GQkIdqQsjc1lhTeaQxPUzPtru6TL760tBQZB0Gmqv0WQ4Rk3_QmhTz0BmVfRQ1bdC22bv9pPiUIjhny_zrPiA__QvQe3oiT1k8Kn6gNVXB2BrSoxZOOIy08ArhFmNN1J2nWr8CdJ3hrVQPeoqldRtHVXGUao-BdlvwB7_mMYObc5bCnIPoSlpRpBEk7ZLPJ1xhxO-Tuf-z5_v7oHflqUKS8aNeqB09QMWV3YOgf9rSgXEVEe3Jra6V60jR_KsKvD6_QaKOloNdUBXHguuMYnzaptVnh28CPWKbxIIihE=w1520-h923");
    background-size: cover;
}

.pro {
    display: flex;
    flex-direction: row; /* 왼쪽 전개로 내용 전개 */
    align-items: flex-start; /* 컨테이너 영역의 최상단부터 전개, 세로축 */
    margin-bottom: 200px;
}

.profile {
    margin-top: 3px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 0px solid black;
    background-image: url('https://lh3.googleusercontent.com/fife/AAbDypAvwWvNVRHYHu17iaGtJqhi8IFSkHRRYcyxPC4J2eFK1GTW70LzFRkgHlX_kKIw4erk3ByqfdG8L4FsmrwLL4FskhURP3iUjGJEk6GjfK1pcxbItXZubdXS3ipF-oUGMn8M-yg67iPdTcBCdBq-svlYSDjdF2tVaMs0wIs25gE8viJHfnAuHJOQhIs-Z_3HEYMQtslolO9IqU59dOpQo27XQgJSvq9u74xtuKiOaWpozNagCcrNnlWUiKqf1mjuzsDuTWGhIM1QKC8aenw_dn3gGIyU6QrB9WGoJoiTDMf3JDtYNm7Oi4WEZQAULDpHwHWg5Z_k6KDt4cOsl4PJUvrIUzGBlVWVvvCw5AcqNDcI18-5zRETABI5f5FNb1uPIs1GOilfkLY1GT8IirsZzAyVQ7psqtGLFCBqFk7smLnWgV33ZkR6nPyp5DjaGQiT4EgOierAkNA5Zhhs-H2hnRiuXe0EkT4j7qgR8pb4NGBBDAwS61z1oQ1_CBPADSodlRlPQRLbeVcbg96d00X0TYMGlaW-Mw-JSkAVPONHXJP5lps2vw6cDGcKdweUn5iZeAy2EfpP5nof_LwZG5kdZRhrfr49-Efs2r4axjGr73a7DZB1cBq37_Q1AZc-qJTl-5CYj8UjtbkV4o9yCo__JvYxGTUGzuhRXSOo_5Hc0w2x2xZrcNWBH_zL3HvevgVvmgvtAG7HH54HqmFIETi4q9R4KPw7PWvcxktOCqlS4IWwdgV2I5yZnkXtqn-MTzeOnRIsCMoL7b2qTjqQLIdpHqo1MtpR6gZbx7sooRVl_e4Q0AB5wHD2w-vyJQ6AQS1-yD0eBlw1VGoh8A6AvN-WTtF_-BCtfecGjvRN-K_mcx8bFLKkYClHcusUzqa68uo2bp4KMbC-5KgZYg97Xlcpaq9MSrP059sPY2_tLa1z9OimpY8_uPH_w1X-x0qmfXKGSzjRhWfS1f07wNU9_IojrmZiIJ7se-veAm4TIOfhuTGr5TrsbAuK3B8x53Y-OX4iLWiUiHG9c4kB7FDWQwMhwV3kNMsd0a-4ErH9_O_qbHHS1X8-UWeNOyyjLEr59dUpMg7eLssdRcZ_ZawJE0Q3HKv2vHXRgoqzOEkZs-iKFvjvLpfkOT4yxfa7OvHuxoRU5bAoDnQp683oyEo8S4AXGQZj_2Tg3QhJ-q_2w435XeSfwq3sOx2jId1hTdaGpKjCX71j9zFpHmsdZLM5xaBQP-f4e7m5zcH_b-QV2_WcEwx8L8L8px4ytnF6HICfLLiTFdgEPvA=w1520-h923');
    background-position: center;
    background-size: cover;
}

.headcopy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 260px;
}

.main {
    color: #FBFBFB;
    font-size: 27px;
    size: 20px;
    font-weight: 800;
    margin: 0%;
}

.sub {
    color: #EDEDED;
    font-size: 14px;
    font-weight: 400;
    size: 14px;
    margin-top: 10px;
}

.minis {
    display: flex;
    flex-direction: row; /* 왼쪽 전개로 내용 전개 */
    justify-content: center; /* 가로축 중앙 정렬 */
    align-items: center; /* 세로축 중앙 정렬 */
    padding: 0px;
    gap: 7px;
    margin-bottom: 68px;
}

.minis > a {
    width: 102px;
    height: 48px;
    border-radius: 32px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    white-space: pre-wrap;
}

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .far {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover {
    color: #fff;
}

.social-menu ul li .far:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(3) a:hover {
    background: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(4) a:hover {
    background: rgba(0, 0, 0, 0.829);
}

.wrap {
    width: 320px;
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column; /* 위에서 아래로 내용 전개 */
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 22px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 45px;
}

.desc {
    font-size: 12px;
    font-weight: 500;
    color: #555555;
    margin-bottom: 24px;
}

.btn {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background-color: #26C50C;
    border-radius: 4px;
    padding: 5px 4px 5px 4px;
}

.one-portfolio {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("./img/Overall portfolioUI.UX mobile.jpg");
    /*background-image: url("https://lh3.googleusercontent.com/fife/AAbDypATFmUSe_6aZRoEHlkeQ7LRwxAxSYfBBtbLvpK_C2_899QgNEx42Dla8jvaAEu6X5FoteAh5VV44HnVWqGXjlZCzqK3nrjw_hkeKBwDI6cmVPZmhekMeleFKobPIEZrAVHcHX7qh8-FlsihXdK3CXUuXGg_0EzRh8wHNh4fJE-qc2MN76SqWffWSt9PdF8tF7zzz_UHFhrYNIt9-GjrmPp5BKMyrXhXx1fxiazykJpwAvkK-uoshCzkIEUSQ7dVws7d7ksCMlpEF-LVVGsE_JIk-SHADf1_owRlirokpjP0B5YvM_3pzpr16M5rOMiF6YpP2hWJFsNECX5qdAisvoJXEAhRGyxHLBuMA77QbgmrGaJO1hH9ftk0t3oLHGHw2qIMq6DpIMlosar3K-XVgyiekZqWP37EYvkX2nHxNB1o-I36ZBmyDkuZP0vIWXI2Bcm_3HzFQxhV6Plywq2zV_ltCMBsNWSvHxtEXmjrgS8fXUnNvPFTQ8OH_H4nAav5TLdw3R6FdMOdXbfu3PaXa0M2jm6KO8vSt30XdlyaPEuNISACvBaTMhK6S5uUdEvi91z9lOsUj_4QIHhUJd2VS-rCg7Tr7mr2b0Jka__ayoeutHPSRIFJI5Py_EaWGxmQ-S_CsRFzOdkH3AaZ7gqI7ln3TQ0mw1f6Wp5GU19DEEbZ8_VvmlccfT12iiDJ5TgH2UWAMzzuRiZUdmiiYGf2Dsr_0yqnalaxuGUs6LVaYcGEreQANA277uebr94fMzyY-rSoFtfWLiCaI-gb8-6Z81mUbkCrw_zVqg6W6AFS2HBqdOjpJLnw2thH0uVX1qai6L8wgezLfK8Nybj7fvB02cADWvCan_3abqnLSqdUcfSQ31VHRFAW29PEDmwkJ9F9d1ZsJ30QLGT0MqkJx4B2-iFgKgOvOzPbH_Ri9ZHwU5DxIwSrtNy6YgFBdqddwiFUEDCpwkgqLiJmFmd_tEEQ5XExRO2btnpca46nYinyYInIcE8Nf2D7iruvDOa3QrNukbZPj4SUcGPYKFV1RjRyEZ6uBKBOXJGELQikrFpn5VOEJlMnxjaZdw2mzR8uqoFbLhR538PVh80HjtORO7fdEcVP4v5seuvcv9UT0A3HoF2IYmDrKK2qog1S8_Y1d1y1xi69VhTuaBflR3rr7N3pcX_wX_DMXvtKw6wiFio0a2o4cV4lgLx3EZZFtfH0V8h2XSfJYA4PfmmGIwXLTnX51VUjfYoP4jF-HGA5liT-ueg6iYNcJCIiUle6Cm99eEdZF5JymCqiNTVScc-ldEzZzQ7EpLH6hcBH5n086124VI4LgHHEd7HcnPqhk1Ll7RvrNJCDF_an6bDOrKNqiA954ZIgffJ7WD_MIwYYWLuUIfsEo3B3NxAUvGAPGwuoCZYXch93YSUxXkDH86sSnCVZMrEf_o5NIhmQlonDi37F_ddsDlfREJFnLnwEDhW53woX1z_3zMDg64mF=w1920-h937");*/
}

.two-portfolio {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("./img/Overall portfolioUI.UX website.jpg");
    /*background-image: url("https://lh3.googleusercontent.com/fife/AAbDypDCRdt0q7PPMZXskIcBTPHYKkIZAccxXRS4jFNbM2uOdXea_JfPz0WsG2bU_SGVuvFwDD4n8Wx83mecW_65sspkV7VhMaHxKeqzDAaMAbPHcqWXODBAqurzR9Njo-dK6NNVDQFlOBRmchUzyx_VObP1DUNQooxGqmBTmWhU8x6Jkd1p8MJRX7im0EQRKjIClMbV1MArDIToLVHczPX9YnmAVPf6ODJZY98_alpIyLbIi5MMjXk3mK2XP_QvpJXgJqjKkiOj74zXBWDJvwYz35frQT1wuyQe3C5mw7T-ymSWkM9KR0r7k7zD4D8Hb7bmkmKIe1iDwEhuETumZDLnSdLQxOuwhZQlu0PHaXiqwaoR-yLNz6YSkJ-WNu5rhEOOAHvbIV-T8u1_3DN4vKQ4pia6fiwH9tDScV2zxYqxpwrga6SKzfVX57rAAx_RvZqQGBGFx7_tKwKfC9j1bqxuZCSPge2xQpcQJWx9NKfCjIv0wm4V_-TjarZgQsGEa09DvfKdeuwl3tq9_FTtmzcYTbEGdHU-GfTFzzg3AHmjrJyLkkzp3tfjNXjfpEZHS1jNOKizg1x9B--KFXSC6Ixcc0Ibcxq9ZKwU8fNzI6f-7K49QyTs7Wp4ls2Eggif0lTT5qSZ9ejZh0zGy4T3wpmF38CS-FVVdxhedvGWFvMlTmy_ETYK0Z963y3ZDgo5uvSPgaaDVDyIRfEv6kSC2FAwoj2G0HCFz1qNp6ssJRBD2i4AW5p9mv4pOPJKNn-uJDvKR3c-DMa-_ng454wGpWJ-K8zSDDsC2XqRDSYf77xiMe8g7EriP_jAbW-qiaGdsctlRqGO3GFLJ-C3c3-YvQeszMQYxYRq4T0WQtb4WXh2CACSP7MJGC2yHNmFyOFIpvwfZ_N-8ykilRhAMZgRVwoodtsyGiLCJxRn_C9weYXvNZkLrEf2EzQGsEiMnI9GFGrEZg7EW22dHOYO4E_AWRBiYRRNUIkmLfF1Nqjq8dedLxC6GggrI9zxcUX6nKwUqjEYdya0HyBCy7gpEYqyxMZFvzPSM5j9iC2roPpDC9gVs8S8rZC5OxfS9lce4Ft4Tsx2pG3mmMT32hIdYOMKY6K4j7JFM_tX08CJhIIYq4q7VzGzODEuiP4DAKMR2DywGFGaQvx9rD1lrAmXzS4LtxfhpIxJh9L_bjWOEdO9vkGvV-QpHfJV1HEtjpmUJt64vsuCHmDonn7NOydSRlOP3tQVHk2Q6_rix5YsPBspYwUIqwKQdSKJaSkS2nCmJQ7yVrtAGhyA3KuqVy2Xl0FfQ2NPV7AUE4qnCWD4Ig=w1920-h937");*/
}

.three-portfolio {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("./img/Overall portfolioBX Micro site.jpg");
    /*background-image: url("https://lh3.googleusercontent.com/fife/AAbDypB86aafMKqrjebRJ7Npb4SPUhVtV9X4H_uoWkvhtfpk4SfLXsdamB9iYVQdtgZdPhbcxnKVB3QhVW5Hz4t8M50iRWDWZZS8vZmfOcvu1uim2jctg-qJzkLPTXTgMZp5Qq86rPYcVnWjEUHpAF6kxhWmMHmUvPyMgFOZk3M92X0uHlf4erd3GZdw4wppl-tXEKKka3yiuxa7hXYliFkdMhTNuTaEG3LCeFHL8hHs4P-bNWtosOYSh4Y4euAeq_HpQ-4PUA9vrwsR5qa6PnByGiYzPkrVSY5Xbctwslx4WyLz44CZHwDJ0N0NXwySzaYAux1k3oOrxJ476cb_iIaL5RU2jcKWiUV918f12cthNbqzcM9M3_NNNfMpKafLcqNpYQTe1N6YPv6DMK-WmyO3sJ_2VrBG8FYk0g448VMZzgKtD_pjSzhhKFawotfRER3rdJLhip0l-ev7n7R8pKEdRq5zqrKq0qE6W9VE4o8L3rlh8GYEAEhUEwwsULGZpbgBkuvrJzCzNuKlk2q6lRxZuCicaEIeGu8C8545mI-gC5DThZHeiIqjM4LZgCQrATRmCbKWmPN8DZiLJF8stGtxf_Y2Y9zeTob_0eVB9T_atlpJQwtDHC2vseILhv8_Lr56HTmxQz1-0frChYP4BMwSA4zNLlI6BeUfVE--0MVMjDeBmG-BJnIdVRT3tgO3HfMdhWOr8XQpyOR74NPcuPcPIwVFFZ13F0-JI_TOemmDh3_8AqOQVFQU8tHsWXsuuJ0WfOdjxKdSkO_FuEqtja5PiOlJFyDPUtbcaKyvdomlEEEeOYFDbIG5y9uM8k-PTHX-tudHNMmlu4a1xlggDOZuaf6hlZKFcOz6gZ7cVEFmaudZi-Aa22UDnj9kc1uiPkX727X4S_TKdAvmuYC8minuHvR4El9XtucdoKogOrTuJ6tG0GKM5wIG6IPoB-4d8gniZwj726wjAUOGDCsVfjmxW3ulWDVK9SZOxbMUwRdTnZtWoXaWyFwYx3T0xJW5aSKz3dnwR9rSg2Ze_sGZGNBJfLWAOrxJCypJvDoflf9SQbRvpibDRIyO_cekbI2E8qTqxMHpaqlKLFPjGaU0wPmjYR2eDzsOfmoMaj3u3Jqd6P6mIpSebk6z74Mim5JYZvIdZRuWLXLeTAoOJhtjubf4Z2VVeFSe5ymkad24NsmbRVBO25JwRTYXjCn0ubC-LihqPNJUUoF_AJyKMGUAdUsFIDEB6fPIyTlIUDF5FvUdHHauvYyZO5U3mwHXtg2HVE9DWrfyoP-FuGML2BN0DddzDAGrgHeCW76UWezJFWxxmylE58-v4oxNAuWu06AOG4CQKMZgugcXUHazUlIpg793Z4_mHhwCgkiWWZgzvgAruiVda-6ekgfGBLmDKAd2xReKF0Lh7FqZu73ruj_v8Fk48bVfLMI4n_varVUcCquFVXQFI67n6H9zKoG55pCQZiheEM7f9YNX09-N=w1920-h937");*/
}

.four-portfolio {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("./img/Overall portfolioPromotion.jpg");
    /*background-image: url("https://lh3.googleusercontent.com/fife/AAbDypDG9ah07Gz-TVKVGiXCiFSUp0ieyUVtRWOpfmB6aSJF1YAbljFNMd02QHo7qVYq_523lGIgQhKZJ1IFyn6RjhC2QobByT7vIM1IAirJSlunulPAY4qFzYTJTWPhyZNHX1vHliyvkD7Zdx9ZAIM6XsK8LUnszH-UHk9PvFaBql3Lf-pJm4cP1v0oLKa4YiJgLIhSU78NkuTifVg9xV-43qUDD-kK5FTcZ-PvopNmmFFzw_C1_RkXXK3jCFO4aYXaM6k9wB9F64X0dA1gVWHVV1tLEDwIiARXk241hC_hitl2nUx5mJEGarEdIo3Z_nDJi-X28vHsSTsqTXIajwsW0MVi0hbh2XDFi3aWkdkuVj3By8tWMtMOCuqUaOa_ROXlutEL0FKX2etyhgf8kKN11YQ4UDT9kOJrYTUjLGec-iXEG3miDXJcgcTxNcnIHo70jem7TJJ4hC4ifAuplM56wLBE_Sn02FFEbjmHwrEU9rspbruBvJb-2PnPCdEvJcr1O5RLDxlR0LGTJ94UNpSfo-m__maazrN_VlEaVyo83HX1h_lecY_JQOkxftebOVmWGRSZLG-ZCIBDUPGTDZI_FiBLgamCdJlPpvMBcNs051DSXbNjm1KnTaeQGAJvheNuxEz1snQMFkSeglXegTFhoVluSaZmwU8OP7XJPHEvQCqdtfkf00VzMROICCSHrPK7RKoGjYVuMZ1yJ5hwZ0nK2Lvh1cKoKco1yQoGX_7xKCjfE1wTIGLYiM3I4mrgrwIcy_sqF6qy-8MsxQdBITSaJFxRglSpbmxhm1bR-C2nXP5CV_n_ofm_SmDbSPgbMHQ03xqmG_sBp31jxwOL64LHuetKtsKR2ZC0t8aGRlQZqS_6haa0DG9GWz912PbMoHHqhoEjUSX9jJwCEFlF1QkQ6tnJOaAsxJbgaOKNa2LRbxcLoDAZ8NwzOwTX5YQP2MVCrlbN5_R3FJtPXoe8rXnf8-FUZ_zUEu9iJjNsJeOCLBvK5jic0o7Cv50yoHaFcUtGLJ6ccrsnHP2BYGUiJM2TXOUQYwh6zXlirt5pqRC8GFu6QLTrK9TEq0hVenq8HjO0TOgktfKNEf-A7pFQJc2qRnBZRyegql2rDxcbedb6EGPX1C81HfVlN6VD0cBY_lroESfw4VaBNEK7JTuopMXiD5KL8xLKasnfGueSH2Ayhoshfr0CkE8-qKXKXvD3Ihdwf7NPLiN_LoauVMEnsdATpcMP3b9cbP7WRpSDotYngMnDeFYNi3iEtbqq-uNIpc0wZ-lbvl7u9Yio7wT1xE4jXxMuDs_2zVa2o0TEEWnNzuYwzjCEyLVz3so9MA4FWq4yGoNM4yg2Jt8VTufQYQZ11BHUvKKxA8ac8H4RfRgDBnEngWETlOoTW32JzumIfsuyTtSGOWO81yel8v3LuWyIN4snGRcNIXT5CnXNrDkIFAHDA_0hnMufWGmmAESneHMPWQdwczPN-GG4=w1920-h937");*/
}
